header{
    position: absolute;
    width: 1594px;
    height: 65px;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: #5E5657;

    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

#theme{
    position: absolute;
    left: 1200px;
    top: 90px;
}

#lside{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #F5B393;
}

#lside a{
    text-decoration: none;
    margin: 10px;
}


#rside{
    position: absolute;
    width: 270px;
    height: 100%;
    left: 1324px;
    top: 0px;
    background: #F5B393;
}

header a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 20px;
}

#logo{
    position: absolute;
    left: 285px;
    top: 20px;
    font-size: 24px;
}

/*Для кнопок войти и регистрации*/
.sign{
    position: absolute;
    right: 285px;
    top: 22px;
}

/*Просто картинка (старое лого)*/
.pic{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 301px;
    top: 5px;

    background: url(image.png);
} 

h2{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

h4 {
    font-weight: 500;
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Главный div. В нем пишется весь текст статьи*/
.main{
    position: absolute;
    width: 655px;
    left: 296px;
    top: 80px;
}

.main-articles{
    position: absolute;
    display: flex;
    flex-flow: column;
    width: 1000px;
    left: 290px;
    top: 80px;
}

.block{
    padding: 10px;
    width: 1000px;
    background: #E1DED5;
    margin-bottom: 10px;
}

.title{
    position: relative;
}

h4 a{
    text-decoration: none;
    color: #000000;
}

.short{
    margin-bottom: 10px;
}

.see-more{
    border: 1px solid;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

.data-icons{
    padding-top: 10px;
    height: 40px;
    display: flex;
}

.data-icons div{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.data-icons span{
    margin-left: 10px;
}


/*Эти 4 класса относятся к картинкам статьи в article.php*/
.water_pic{
    position: absolute;
    width: 271px;
    height: 396px;
    left: 711px;
    top: 258px;
}

.water_pic_txt{
    position: absolute;
    width: 170px;
    height: 24px;
    left: 760px;
    top: 684px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.agile_pic{
    position: absolute;
    width: 276px;
    height: 389px;
    left: 709px;
    top: 813px;
}

.agile_pic_txt{
    position: absolute;
    width: 130px;
    height: 24px;
    left: 779px;
    top: 1228px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1570px;
    height: 50px;
    left: 0px;
    bottom: 0px;
    z-index: -1;

    background: #5E5657;

    font-size: 18px;
    line-height: 22px;
    
    color: #FFFFFF;
}

footer div{
    margin:20px;
}

/* Здесь начинается форма*/
form{
    font-size: 18px;
}

fieldset{
    width: 420px;
}

textarea{
    resize: none;
    height: 75px;
    width: 350px;
}

input:required:invalid{
      border:2px solid red;
      border-radius: 2px;
}

input:required:valid{
      border:2px solid green;
      border-radius: 2px;
}

input[type="text"]{
    width: 200px;
    height: 20px;
}

input[type="email"]{
    width: 200px;
    height: 20px;
}


body{
    position: relative;
    width: 100%;
    height: 2300px;
    background: #E19192;
    margin:0;
    padding:0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #000000;
}
